/* Notes
   - h6 overrides h5, so the styles for h5 and h6 should be made identical
 */
:root {
    --h1: 1.6em;
    --h2: 1.37em;
    --h3: 1.25em;
    --h4: 1.12em;
    --h5: 1.12em;
    --h6: 1.12em;
    --h1-weight: 600;
    --h2-weight: 600;
    --h3-weight: 600;
    --h4-weight: 500;
    --h5-weight: 400;
    --h6-weight: 400;
    --h1-variant: normal;
    --h2-variant: normal;
    --h3-variant: normal;
    --h4-variant: normal;
    --h5-variant: normal;
    --h6-variant: normal;
    --h1-style: normal;
    --h2-style: normal;
    --h3-style: normal;
    --h4-style: normal;
    --h5-style: italic;
    --h6-style: italic;
    --bold-weight: 700;
    --cursor: pointer;
    --border-width: 2px;
}

/* Default Obsidian style */
/*
:root {
    --h1: 2em;
    --h2: 1.6em;
    --h3: 1.37em;
    --h4: 1.25em;
    --h5: 1.12em;
    --h6: 1.12em;
    --h1-weight: 700;
    --h2-weight: 600;
    --h3-weight: 600;
    --h4-weight: 600;
    --h5-weight: 600;
    --h6-weight: 600;
    --h1-variant: normal;
    --h2-variant: normal;
    --h3-variant: normal;
    --h4-variant: normal;
    --h5-variant: normal;
    --h6-variant: normal;
    --h1-style: normal;
    --h2-style: normal;
    --h3-style: normal;
    --h4-style: normal;
    --h5-style: normal;
    --h6-style: normal;
    --bold-weight: 700;
    --cursor: pointer;
    --border-width: 2px;
}
*/
